<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Blog Site</title>
		<th:block th:replace="fragments/stylehead"></th:block>	
	</head>
	
	<body>
		<div class="container">
		<div th:replace="/fragments/navbar"></div>
		    <h1>Welcome to Our Blog Post Site!</h1>
		    <h3>Check out our blogs!</h3>
		    <div class="row">
		    
		    	<div class="col-md-6" th:each="blog:${posts}">		    				    
	    			<div class="card">
	    			
		    			<div class="card-header">
		    				<p th:text="${blog.title}"/>	
		    			</div>
		    			
		    			<div class="card-body">
		    				<p th:text="${blog.author}"/>
		    				<p th:text="${blog.blogEntry}"/>	
		    			</div>
		    			
		    			<div class="card-footer">
		    			<a th:href="@{blogposts/{id}(id=${blog.id})}">
		    			<button class="btn btn-light">Edit Post</button>
		    			</a>
		    			
		    			<a th:href="@{blogposts/delete/{id}(id=${blog.id})}">
		    			<button class="btn btn-danger">Delete Post</button>
		    			</a>
		    			
		    			</div>    				    		
		    		</div>		    	
		    	</div>	    			   
		    </div>
	     </div>
	     <th:block th:replace="fragments/stylebottom"></th:block>
	   
	     
	</body>
</html>